
.post-14 {
	margin-top: -2rem; 

	header {
		display: none;
	}
}
.about {
	padding: 60px 0;
	background-color: #fffefe;
	.entry-content {
		padding: 0 18rem;
		margin-top: -2rem;

		// Below 62em (992px)
		@include media("<lg") {
			padding: 0 11rem;
		}

		// Below 48em (768px)
		@include media("<md") {
			padding: 0 9rem;
		}

		// Below 34em (544px)
		@include media("<sm") {
			padding: 0 3rem;
		}


		h2 {
			@include entry-title(40px);
			color: #303030;
			line-height: 0.908;
		}

		h4 {
			@include entry-title(22px);
			color: #303030;
			line-height: 1.65;
			text-align: left;
		}

		p {
			@include entry-title(16px);
			color: #303030;
			line-height: 1.5;
			text-align: left;
		}

	}
}

.page-appointment {
	background: rgb(235,235,235);
	padding-top: 65px;
	padding-bottom: 60px;

	.appointment-div {
		padding-left: 190px;

		h1 {
			margin: 0;
		}

		// Below 62em (992px)
		@include media("<lg") {
			padding-left: 3rem;
		}

		// Below 48em (768px)
		@include media("<md") {
			padding-left: 2rem;
		}

		// Below 34em (544px)
		@include media("<sm") {
			padding-left: 1rem;
		}
	}

	.info-div {
		padding-left: 50px;
		h1 {
			margin: 0;
			padding: 0;
		}

		.media {
			overflow: initial;

			&:first-child {
				.media-left {
					padding-right: 30px;
				}
			}

			.media-left {
				padding-right: 35px;
			}
		}

		.media:first-child {
		    margin-top: 9px;
		    margin-left: -5px;
		}
	}
}