/*
 * Default
 * 
 */

.body-container {
	@include make-container;
	max-width: $body-max-width;

	@include media("<sm") {
		padding: 0;
	} 
}


::selection {
	background: #2C3A49;
	color: #fff;
	text-shadow: 0 0 transparent;
}
::-moz-selection {
	background: #2C3A49;
	color: #fff;
	text-shadow: 0 0 transparent;
}