#contact-page {
	header.entry-header {
		position: absolute;
    	top: 37%;
    	left: 9%;

    	h1 {
    		color: #fff;
    		text-transform: uppercase;
		    font-size: 45px;
		    font-weight: 700;
    	}
	}
}
#contact-form {
	background-color: #ebebeb;
	padding: 4.5rem 0;

	.ninja-forms-field {
		max-width: 379px;
		height: 46px;
	    padding: .375rem .75rem;
	    font-size: 1rem;
	    line-height: 1.5;
	    color: #55595c;
	    background-color: #fff;
	    background-image: none;
	    border: .0625rem solid #ccc;
	}

	textarea {
		min-height: 185px;
	}

	.field-wrap input[type="button"] {
		padding: 0.8rem 4rem;
	    outline: none;
	    border: 3px solid #91a3b3;
	    border-radius: 32px !important;
	    line-height: 1;
	    text-transform: uppercase;
	    letter-spacing: normal;
	    background: transparent;
	    color: #91a3b3;
	    -webkit-appearance: none;
	    transition: all .5s ease-in-out;

	    &:hover {
	      background: #91a3b3;
	      color: #fff;
	    }
	}
}