//
// Footer
// -----------------------------------------------------------------------------
//
section.pre-footer {
	background: #9fb1bf;
	padding: 25px 0;
	text-transform: uppercase;
	color: #FFF;

	.container {
		padding-left: 2.8rem;
		padding-right: 2.8rem;
	}

	.row {
		margin-left: -2.8rem;
		margin-right: -2.8rem;
	}

	div[class^="col-"] {
		padding-left: 2.8rem;
		padding-right: 2.8rem;
	}

	ul.footer-menu {
		list-style-type: none;
		padding: 0;
		margin: 35px 0;

		@include media("<md") {			
			text-align: center;
			margin: 10px 0 0;
		}

		li {
			margin: 0;
			margin-top: 20px;
			padding: 0;
			border-bottom: 1px solid #ddd;

			@include media("<md") {			
			margin-top: 10px;
		}

			&:first-child {
				margin-top: 0;
			}

			a {
				@include heading-font();
				font-size: 13px;
				line-height: 2;
				color: #FFF;
				padding: 0 0 10px 0;
				display: inline-block;
			}
		}
	}

	.footer__meta {
		text-align: center;
		margin: 15px 0;

		@include media("<md") {
			margin-top: 40px;
		}

		img {
			margin: 0 auto;
			padding: 0 30px 15px;
			border-bottom: 1px solid #00aeef;
		}

		p.english {
			@include heading-font();
			font-size: 14px;
			line-height: 1.45;
			margin: 10px 0 5px;
		}
		p.arabic {
			font-size: 20px;
			margin: 5px 0;
		}

		ul.social-icon {
			margin-top: 20px;
		}

	}

}

footer.footer {
	background-color: #8498a9;
	text-align: center;
	padding: 0.6rem;

	p {
		@include heading-font();
		font-size: 12px;
		color: #b5c8d8;
		text-transform: uppercase;
		text-align: center;
		padding: 0;
		margin: 0;
	}

}
