header.page-header {
	height: 100px;
	background-color: white;
	box-shadow: 0px 1px 1px rgba(0,0,0, 0.1);
	position: relative;
	@include clearfix();

}

	// Branding
	//

	.branding {
		text-align: center;

		@include media(">md") {
			float: left;
			margin-top: 20px;
			margin-left: 50px;
		}

		img {
			height: auto;
			max-height: 60px;
			display: inline-block;
		}
	}


	// Navbar
	//
	.menu-container {
		height: 100%;

		.navbar-toggler {
			border-radius: 0;
			color: #FFF;
			@include heading-font();
			font-size: 14px;
			display: block;
			background: #034156;
			width: 100%;
			padding: 15px;
			text-align: left;

			i {
				margin-right: 10px;
			}
		}
	}

	.menu-scaffold {
		float: right;

		@include media(">sm") {
			display: block;
		}

		@include media("<sm") {
			width: 100%;
			text-align: center;
		}

		&.collapsing {
			transition: height 0.6s;
		}

	}

	ul.main-menu {
		list-style: none;
		padding: 0;
		box-sizing: border-box;
	
		& > li {
			padding: 0 !important;
			margin: 0;
			position: initial;

			@include media(">sm") {
				display: inline-block;
				//@include make-col-span(2);

				&:hover > ul.sub-menu {
					//display: block;
					visibility: visible;
					opacity: 1;	
					width: 100%;
					text-align: left;
					position: absolute;
				}
			}

			@include media("<sm") {
				position: relative;


				& > ul.sub-menu {
					text-align: left;
				}

				&.menu-item-has-children > a:before {
					content: " ";
					position: absolute;
					top: 0;
					right: 0;
					height: 55px;
					width: 54px;
					background: #333;
					z-index: 2;
					cursor: pointer;
				}

				&.menu-item-has-children > a:after {
					content: "\f067";
					font-family: FontAwesome;
					font-style: normal;
					font-weight: normal;
					text-decoration: inherit;
					font-size: 22px;

					position: absolute;
					top: -15px;
					right: 17px;
					color: white;
					z-index: 3;
					cursor: pointer;
				}

				&.menu-item-has-children.toggle-on > a:after {
					content: "\f068";
				}

			}

			& > a {
				transition: background 0.3s ease;
			}
				

			
			&:nth-child(2) {
				& > ul {
					background: #179cd3;
				}
			}

				&:hover > a,
				&:focus > a {
					background: #179cd3 !important;
					color: #FFF;
				}
			

			& > a {
				@include heading-font();
				font-size: 14px;
				font-weight: 500;
				line-height: 120px;
				text-decoration: none;
				padding: 0px 20px;
				margin-bottom: -20PX;
				display: block;
				color: #2a2a2a;
				height: 100px;

				@include media("<md") {
					//padding: 22px 10px;
				}

				@include media("<sm") {
					padding: 3px;
					line-height: 4;
					height: auto;
					z-index: 1;
				}

				
			}
		}
	}

li.menu-item-depth-0 > ul.sub-menu {
	margin: 0 auto;
	width: 100%;
	list-style: none;
	padding: 0;
	//position: relative;
	box-sizing: border-box;
	display: none;
	// background: #444;
	padding: 10px 10px 10px;


	@include media("<sm") {
		//padding: 15px 15px 20px 15px;

		&.show {
			display: block;
		}
	}

	@include media(">sm") {
		visibility: hidden;
		opacity: 0;
		transition: visibility 0s, opacity 0.2s linear;
		display: inline;
		width: 100%;

		position: absolute;
		top: 100px;
		left: 0;
		z-index: 10;
	}

	& > li {
		display: block;
		padding-bottom: 10px;

		@include media(">sm") {
			@include make-col();
			@include make-col-span(6);
			padding-left: 15px !important;
			padding-right: 15px !important;
		}

		@include media(">md") {
			@include make-col-span(4);
		}
	
		& > a {
			font-size: 15px;
			line-height: 1.4;
			color: #FFF;
			display: block;
			border-radius: 5px;
			padding: 10px 10px 10px 30px;

			&:before {
				content: "|";	//"\f00c"; // &#xf00c;
				font-family: FontAwesome;
				//font-style: normal;
				font-weight: bolder;
				font-size: 16px;
				text-decoration: inherit;
				position: absolute;
				top: 12px;
				left: 10px;
				text-decoration: none !important;
			}

			@include media(">sm") {
				padding: 10px 0 0 30px;
				text-align: left;
				display: inline-block;
			}

			&:hover {
				text-decoration: underline;
				background-color: transparent;

				@include media("<sm") {
					background-color: rgba(0, 0, 0, 0.2);
					text-decoration: none;
				}
			}


		}
	}
}

li.menu-item-depth-1 > ul.sub-menu {
	margin: 5px 0 0 30px;
	padding: 0;
	display: block;
	list-style-type: none;

	li {
		display: list-item;
		padding: 0 0 0 15px;
		float: none;
		background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAD0lEQVQImWP4jwYYSBcAAHg8P8HaEZ1pAAAAAElFTkSuQmCC");
		background-repeat: no-repeat;
		background-position: 0 14px;

		a {
			font-size: 13px;
			line-height: 1;
			padding-top: 8px;
			padding-bottom: 8px;
			display: inline-block;
			background: none;
			color: #FFF;
			display: block;

			@include media(">sm") {
				display: inline-block;
			}

			&:hover {
				text-decoration: underline;
			}
		}
	}
}