#page-banner {
	background: url();
}
.content-area {
	background: #fff;
    padding: 25px 85px 55px 85px;

    header.entry-header {
    	//background: url(assets/dist/img/entry-header.jpeg);
    	background: linear-gradient(
                     rgba(20,20,20, .5), 
                     rgba(20,20,20, .5)),
                     url(assets/dist/img/entry-header.jpeg);
    	height: 45vh;
	    background-size: cover;
	    background-repeat: no-repeat;
	    background-position: 50% 50%;
	    margin-bottom: 1.5rem;

    	.entry-title {
	    	@include entry-title(4rem);
	    	text-transform: capitalize;
		    position: absolute;
		    top: 42%;
		    left: 37%;
		    color: #fff;

		    @media screen and (min-width: 18.75em) {
			    font-size: calc(16px + 1 * ((100vw - 18.75rem) / 31.25));
			}
			@media screen and (min-width: 50em) {
			    font-size: 4rem;
			}
	    }
    }

    .entry-content {
    	h3 {
    		@include para-header(1.2rem);
    		opacity: 0.85;
    	}

    	p {
    		font-size: 18px;
    		line-height: 1.5;
    		margin-bottom: 0.7rem;
    		opacity: 0.80;
    	}
    }
}