#header-img {
    max-width: 1140px;
    height: 400px;
    img {
        width: 100%;
        height: inherit;
    }
}

.service-page {
    background-color: #fefefe;
    padding: 2rem;

    header.entry-header {
        color: #fff;
        position: absolute;
        top: 37%;
        //left: 35%;

        h1 {
            text-transform: uppercase;
            font-size: 45px;
            font-weight: 700;
        }
    }
}

.service-infobar {
    padding-top: 30px !important;
    padding-bottom: 66px !important;
}

#service-gallery {
    background-color: #f4f4f4;
    padding: 55px 45px;

    /* .hovereffect {
      width: 100%;
      height: 100%;
      float: left;
      overflow: hidden;
      position: relative;
      text-align: center;
      cursor: default;
      background: #42b078;
    }
    
    .hovereffect .overlay {
      width: 100%;
      height: 100%;
      position: absolute;
      overflow: hidden;
      top: 0;
      left: 0;
      padding: 50px 20px;
    }
    
    .hovereffect img {
      display: block;
      position: relative;
      max-width: none;
      width: calc(100% + 20px);
      -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
      transition: opacity 0.35s, transform 0.35s;
      -webkit-transform: translate3d(-10px,0,0);
      transform: translate3d(-10px,0,0);
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }
    
    .hovereffect:hover img {
      opacity: 0.4;
      filter: alpha(opacity=40);
      -webkit-transform: translate3d(0,0,0);
      transform: translate3d(0,0,0);
    }
    
    .hovereffect h2 {
      text-transform: uppercase;
      color: #fff;
      text-align: center;
      position: relative;
      font-size: 17px;
      overflow: hidden;
      padding: 0.5em 0;
      background-color: transparent;
    }
    
    .hovereffect h2:after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background: #fff;
      content: '';
      -webkit-transition: -webkit-transform 0.35s;
      transition: transform 0.35s;
      -webkit-transform: translate3d(-100%,0,0);
      transform: translate3d(-100%,0,0);
    }
    
    .hovereffect:hover h2:after {
      -webkit-transform: translate3d(0,0,0);
      transform: translate3d(0,0,0);
    }
    
    .hovereffect a, .hovereffect p {
      color: #FFF;
      opacity: 0;
      filter: alpha(opacity=0);
      -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
      transition: opacity 0.35s, transform 0.35s;
      -webkit-transform: translate3d(100%,0,0);
      transform: translate3d(100%,0,0);
    }
    
    .hovereffect:hover a, .hovereffect:hover p {
      opacity: 1;
      filter: alpha(opacity=100);
      -webkit-transform: translate3d(0,0,0);
      transform: translate3d(0,0,0);
    } */

    img {
        max-width: 250px;
        border-radius: 6px;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px 0px, rgba(0, 0, 0, 0.188235) 0px 6px 20px 0px;
        transition: opacity 0.35s, transform 0.35s;

        &:hover {
            opacity: 0.5;
        }
    }
}

.fa.fa-expand {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #000;
    background-color: #fff;
    padding: 0.5rem;
    opacity: 0;
}

.expand:hover > .fa.fa-expand {
    opacity: 1;
}


/*================= FAQs =================*/
#faq {
    background-color: #fffefe;
}

.wrap {
    margin-top: 9rem;
}

a:focus,
a:hover,
a:active {
    outline: 0;
    text-decoration: none;
}

.panel {
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #fff;
    background: none;
    box-shadow: none;
}

.panel:last-child {
    border-bottom: none;
}

.panel-group > .panel:first-child .panel-heading {
    border-radius: 4px 4px 0 0;
}

.panel-group .panel {
    border-radius: 0;
}

.panel-group .panel + .panel {
    margin-top: 0;
}

.panel-heading {
    background-color: transparent;
    border-radius: 0;
    border: none;
    color: #fff;
    padding: 0;
}

h4.panel-title {
    margin: 1rem 0 0;
}

.panel-title a {
    display: block;
    font-size: 20px;
    font-family: "OpenSans";
    color: rgb(55, 47, 43);
    line-height: 1.714;
    text-align: left;
    color: #372f2b;
    //padding: 15px;
    padding-left: 40px;
    position: relative;
    font-weight: 400;
}

.panel-body {
    //background: #372f2b;
    padding-left: 2.7rem;
}

.panel:last-child .panel-body {
    //border-radius: 0 0 4px 4px;
}

.panel:last-child .panel-heading {
    //border-radius: 0 0 4px 4px;
    transition: border-radius 0.3s linear 0.2s;
}

.panel:last-child .panel-heading.active {
    border-radius: 0;
    transition: border-radius linear 0s;
}
/* #bs-collapse icon scale option */

.panel-heading a:before {
    content: '\f278';
    position: absolute;
    font-family: 'Material Icons';
    left: 5px;
    top: -2px;
    font-size: 24px;
    transition: all 0.5s;
    transform: scale(1);
}

.panel-heading.active a:before {
    content: ' ';
    transition: all 0.5s;
    transform: scale(0);
}

#bs-collapse .panel-heading a:after {
    content: ' ';
    font-size: 24px;
    position: absolute;
    font-family: 'Material Icons';
    left: 5px;
    top: -2px;
    transform: scale(0);
    transition: all 0.5s;
}

#bs-collapse .panel-heading.active a:after {
    content: '\f273';
    transform: scale(1);
    transition: all 0.5s;
}
/* #accordion rotate icon option */

#accordion .panel-heading a:before {
    content: '\f067';
    font-size: 24px;
    position: absolute;
    font-family: 'FontAwesome';
    right: 5px;
    top: 10px;
    transform: rotate(180deg);
    transition: all 0.5s;
}

#accordion .panel-heading.active a:before {
    transform: rotate(0deg);
    transition: all 0.5s;
}

.quotation-div {
    background-color: #31aae4;
    text-align: center;
    margin: 5rem 5rem 5rem 3.5rem;
    width: 250px;

    .fa-quote-left {
        color: #fff;
        background-color: #000;
        padding: 2.1rem;
        border-radius: 50%;
        margin-top: 2.27rem;
    }

    hr {
        width: 9%;
        border-top: .0625rem solid rgba(255,255,255,1);
        margin-bottom: 1rem !important;
    }

    p {
        color: #fff;
        padding: 0 0.5rem;
    }

    h5 {
        color: #fff;
        padding-bottom: 2.27rem;
    }
}


// Modal Image
