// .service-page {
//     background-color: #fefefe;
//     padding: 2rem;

//     header.entry-header {
//         color: #fff;
//         position: absolute;
//         top: 37%;
//         //left: 35%;

//         h1 {
//             text-transform: uppercase;
//             font-size: 45px;
//             font-weight: 700;
//         }
//     }
// }

// .service-infobar {
//     padding-top: 30px !important;
//     padding-bottom: 66px !important;
// }

    // #service-gallery {
    //     background-color: #f4f4f4;
    //     padding: 55px 45px;

    //     img {
    //         max-width: 250px;
    //         height: 188px;
    //         height: auto;
    //         border-radius: 6px;
    //         box-shadow: 0px 0px 4.75px 0.25px rgba(0, 0, 0, 0.098);
    //         transition: opacity 0.35s, transform 0.35s;

    //         @media screen and (max-width: 1024px) {
    //             max-width: 185px;
    //         }

    //         @media screen and (max-width: 768px) {
    //             max-width: 185px;
    //             height: 133px;
    //             margin-bottom: 2rem;
    //         }

    //         // Below 34em (544px)
    //         @include media("<sm") {
    //             max-width: 175px;
    //             max-height: 126px;
    //             margin-bottom: 2rem;
    //         }

    //         &:hover {
    //             opacity: 0.5;
    //         }
    //     }
    // }

// .fa.fa-expand {
//     position: absolute;
//     top: -33%;
//     left: 43%;
//     color: #000;
//     background-color: #fff;
//     padding: 0.9rem;
//     border-radius: 4px;
//     opacity: 0;
// }

// .expand:hover > .fa.fa-expand {
//     opacity: 1;
// }

// .lb-details {
//     display: none;
// }


/*================= FAQs =================*
#faq {
    background-color: #fffefe;
}

.wrap {
    margin-top: 9rem;
}

a:focus,
a:hover,
a:active {
    outline: 0;
    text-decoration: none;
}

.panel {
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #fff;
    background: none;
    box-shadow: none;
}

.panel:last-child {
    border-bottom: none;
}

.panel-group > .panel:first-child .panel-heading {
    border-radius: 4px 4px 0 0;
}

.panel-group .panel {
    border-radius: 0;
}

.panel-group .panel + .panel {
    margin-top: 0;
}

.panel-heading {
    background-color: transparent;
    border-radius: 0;
    border: none;
    color: #fff;
    padding: 0;
}

h4.panel-title {
    margin: 1rem 0 0;
}

.panel-title a {
    display: block;
    font-size: 19px;
    font-family: "OpenSans";
    color: rgb(55, 47, 43);
    line-height: 1.714;
    text-align: left;
    color: #372f2b;
    //padding: 15px;
    padding-left: 75px;
    position: relative;
    font-weight: 400;
}

.panel-body {
    //background: #372f2b;
    padding-left: 5.1rem;
    padding-top: 1.3rem;
}

.panel:last-child .panel-body {
    //border-radius: 0 0 4px 4px;
}

.panel:last-child .panel-heading {
    //border-radius: 0 0 4px 4px;
    transition: border-radius 0.3s linear 0.2s;
}

.panel:last-child .panel-heading.active {
    border-radius: 0;
    transition: border-radius linear 0s;
}

.panel-heading a:before {
    font-family: "FontAwesome";
    content: "\f067";
    position: absolute;
    left: 30px;
    top: 4px;
    font-size: 15px;
    transition: all 0.5s;
    transform: scale(1);
    color: #8a8a8a;
    background-color: #f6f6f6;
    padding: 0rem 0.4rem;
    border-radius: 50%;
    border: 1px solid #e7e7e7;
}

.panel-heading.active a:before {
    content: ' ';
    transition: all 0.5s;
    transform: scale(0);
}

#bs-collapse .panel-heading a:after {
    content: ' ';
    font-size: 15px;
    position: absolute;
    font-family: 'FontAwesome';
    left: 5px;
    top: -2px;
    transform: scale(0);
    transition: all 0.5s;
}

#bs-collapse .panel-heading.active a:after {
    content: '\f068';
    transform: scale(1);
    transition: all 0.5s;
}

#accordion .panel-heading a:before {
    content: '\f067';
    font-size: 15px;
    position: absolute;
    font-family: 'FontAwesome';
    color: #8a8a8a;
    right: 5px;
    top: 10px;
    transform: rotate(180deg);
    transition: all 0.5s;
}

#accordion .panel-heading.active a:before {
    transform: rotate(0deg);
    transition: all 0.5s;
}

.quotation-div {
    background-color: #31aae4;
    text-align: center;
    margin: 5rem 5rem 5rem 3.5rem;
    width: 250px;

    @media screen and (max-width: 962px) {
        margin: 5rem 5rem 5rem -0.5rem;
    }

    // Below 34em (544px)
    @media screen and (max-width: 620px) {
        margin: 5rem 5rem 5rem 5.5rem;
    }

    // Below 34em (544px)
    @media screen and (max-width: 544px) {
        margin: 5rem 5rem 5rem 4.5rem;
    }

    @media screen and (max-width: 400px) {
        margin: 5rem 5rem 5rem 2.5rem;
    }

    .fa-quote-left {
        color: #fff;
        background-color: #000;
        padding: 2.1rem;
        border-radius: 50%;
        margin-top: 2.27rem;
    }

    hr {
        width: 9%;
        border-top: .0625rem solid rgba(255,255,255,1);
        margin-bottom: 1rem !important;
    }

    p {
        color: #fff;
        padding: 0 0.5rem;
    }

    h5 {
        color: #fff;
        padding-bottom: 2.27rem;
    }
}


.box {
    width: 250px;
    margin: 0 auto;
}

.overlay {  
    background:rgba(0,0,0,.75);
    border-radius: 6px;
    text-align:center;
    opacity:1;
    transition: opacity .25s ease;

    @media screen and (max-width: 1024px) {
        max-width: 185px;
        height: auto;
    }

    @media screen and (max-width: 768px) {
        max-width: 185px;
        margin-bottom: 2rem;
        height: 133px;
    }

    // Below 34em (544px)
    @include media("<sm") {
        max-width: 175px;
        max-height: 126px;
        margin-bottom: 2rem;
    }
}

//Gallery
.box:hover .overlay {
    opacity:1;
}


// Team Member Page
.page-id-10 {

    #service-gallery, #faq {
        display: none;
    }

    table {
        display: none;
    }

    .tmm.tmm_last_row_centered.tmm_silesia-team {
        margin-top: -7rem;
    }
}

/**/