// 
// Appointment form
// template-parts/appointment.php 
// 

section.appointment {
	background: rgb(235,235,235);
	padding: 60px 0;
	
	h1 {
		@include secondary-font();
		font-size: 36px;
		color: #372F2B;
		text-align: center;
		padding-top: 0;
		padding-bottom: 0;
		margin: 0 0 30px;

		span {
			font-weight: bold;

			@include media("<sm") {
				display: block;
			}
		}
	}
}
