// 
// Info bar
// template-parts/info-bar.php 
// 

section.info-bar {
	// background: rgb(145,163,179);
	background: #91a3b3;
	padding: 24px 40px;
	text-align: center;

	.media {
		@include make-col();
		@include make-col-span(12);
		margin-top: 0;
		font-size: 14px;
		line-height: 1.4;
		color: #FFF;
		text-align: left;

		@include media("<md") {
			margin-top: 30px;

			&:first-child {
				margin-top: 0;
			}
		}

		@include media(">md") {
			@include make-col-span(4);
		}

		.media-left {
			i.fa {
				width: 40px;
				display: inline-block;
			}
		}

		.media-body {

			.media-heading {
				font-weight: bold;
				letter-spacing: 1px;
				line-height: normal;
			}

			p {
				font-weight: normal;
			}

			a {
				color: #fff;
				text-decoration: underline;
			}

			address {
				margin-bottom: 0;
			}

		}
	}

}