/*====== Header/Banner=======*/
@media only screen and (max-width: 480px) {
  header .banner {
    height: 77px;

    .logo-img {
      width: 150px;
      height: auto;
      margin-top: 0;
      margin-left: 0;
    }

    ul {
      padding-left: 0;
      margin-top: 0;
      margin-right: 0;
      margin-left: 0;

      li {
        float: right;
      }
    }
  }
}

/*========= Navbar ==========*/
@media only screen and (max-width: 1024px) {
  .body-container {
    width: 100% !important;
  }
}

@media only screen and (max-width: 992px) {
  .hidden-sm-up {
    display: inline !important;
  }

  nav.navbar {
    ul.navbar-nav > li {
      position: inherit;
      display: block;
      float: none;
      width: 100%;
      padding-bottom: 0;
      padding-left: 0;
      margin-left: 0 !important;
      text-align: center;
    }

    nav.navbar ul.navbar-nav > li a {
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 12px;
      font-weight: 300;
      line-height: 18px;
      color: #fff;
      text-transform: uppercase;
    }

    ul.dropdown-menu {
      position: inherit;
    }

    .navbar-nav .nav-item + .nav-item {
      margin-left: 0;
    }

    .megamenu {
      position: absolute;
      margin-right: 0;
      margin-left: 0;

      li {
        margin-bottom: 20px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .pre-footer {
      padding: 20px !important;

      .second-div-links, .logo-div {
        padding: 20px !important;
      }
    }

    .form-submit {
      display: block;
      float: none !important;
      width: 100% !important;
      margin: 0 auto !important;
      clear: both;
      text-align: center;
    }

    .carousel-inner img {
      width: 100%;
    }
  }
}

@media (max-width: 640px) {
  ul.dropdown-menu {
    padding: 0;

    .no-square a {
      font-size: 13px;
    }
  }
}

/*========= Slider ========== */
@media (max-width: 74.9em) {}

/* Medium */
@media (max-width: 61.9em) {
  .carousel-inner img {
    max-height: 450px;
  }

  .header-text {
    position: absolute;
    top: 17%;
    right: auto;
    left: 5%;
    width: 100%;

    h2 {
      margin-top: 0;
      margin-bottom: 3px;
      font-size: 46px;
      font-weight: bold;
    }

    h4 {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 22px;
      font-weight: 400;
      text-transform: none;
      letter-spacing: normal;
    }

    p {
      padding-top: .5em;
      padding-bottom: 15px;
      font-size: 15px;
    }
  }

  .btn-slider {
    display: block;
    max-width: 180px !important;
    padding-top: 13px !important;
    padding-right: 23px !important;
    padding-bottom: 13px !important;
    padding-left: 23px !important;
    margin-left: 0;
    font-size: 12px !important;
    font-weight: bold !important;
    text-transform: uppercase;
    letter-spacing: normal !important;
    border: 0;
    border-radius: 32px;
    outline: none;
  }
}

/* Small */
@media (max-width: 47.9em) {
  .carousel-indicators {
    li, .active {
      margin-bottom: 0;
    }
  }

  .carousel-inner img {
    max-height: 450px;
  }

  .header-text {
    position: absolute;
    top: 17%;
    right: auto;
    left: 5%;
    width: 100%;

    h2 {
      margin-top: 0;
      margin-bottom: 5px;
      font-size: 48px;
      font-weight: bold;
    }

    h4 {
      margin-top: 3px;
      margin-bottom: 3px;
      font-size: 26px;
      font-weight: 400;
      text-transform: none;
      letter-spacing: normal;
    }

    p {
      padding-top: 3px;
      padding-bottom: 19px;
      font-size: 19px;
    }
  }

  .btn-slider {
    display: block;
    max-width: 180px !important;
    padding-top: 13px !important;
    padding-right: 23px !important;
    padding-bottom: 13px !important;
    padding-left: 23px !important;
    margin-left: 0;
    font-size: 12px !important;
    font-weight: bold !important;
    text-transform: uppercase;
    letter-spacing: normal !important;
    border: 0;
    border-radius: 32px;
    outline: none;
  }
}

/* Extra small */
@media (max-width: 33.9em) {
  .carousel-indicators {
    li, .active {
      margin-bottom: -29px;
    }
  }

  .carousel-inner img {
    height: 450px;
  }

  .header-text {
    /* position: absolute;
    top: 6%;
    right: auto;
    left: 0;
    width: 100%; */
    text-align: center;
    padding-right: 15px;
    margin-top: -5px;

    h2 {
      margin-top: 0;
      margin-bottom: 5px;
      font-size: 22px;
      font-weight: bold;
    }

    h4 {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 20px;
      font-weight: 400;
      text-transform: none;
      letter-spacing: normal;
    }

    p {
      padding-top: .3em;
      padding-bottom: 0;
      font-size: 13px;
      margin-bottom: 0;
    }
  }

  .btn-slider {
    display: inline-block !important;
    max-width: 180px !important;
    padding-top: 13px !important;
    padding-right: 23px !important;
    padding-bottom: 13px !important;
    padding-left: 23px !important;
    margin-left: 0;
    font-size: 12px !important;
    font-weight: bold !important;
    text-transform: uppercase;
    letter-spacing: normal !important;
    border: 0;
    border-radius: 32px;
    outline: none;
  }
}

/*========= Info Bar ==========*/
@media (max-width: 74.9em) {}

/* Medium */
@media (max-width: 61.9em) {
  .info-bar .media {
    .media-left {
      padding-right: 0;
      padding-bottom: 20px;
      display: inline;
      padding-right: 0;
      display: inherit;
    }

    padding-left: 0 !important;
    text-align: center;
  }
}

/* Small */
@media (max-width: 47.9em) {
  .info-bar .media {
    .media-left {
      padding-right: 0;
      display: inline;
    }

    padding-left: 0 !important;
    padding-bottom: 40px;
    margin-bottom: 20px;
    text-align: center;

    .media-body {
      display: block;
      width: 100% !important;
      text-align: center;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

/* Extra small */
@media (max-width: 33.9em) {
  .info-bar .media {
    .media-left {
      padding-right: 0;
      display: inline;
    }

    padding-left: 0 !important;
    padding-bottom: 20px;
    margin-bottom: 20px;
    text-align: center;

    .media-body {
      display: block;
      width: 100% !important;
      text-align: center;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

/*========= Appointment ==========*/
@media (max-width: 74.9em) {}

/* Medium */
@media (max-width: 61.9em) {
  form, input {
    width: 100%;
    max-width: 100%;
  }

  .select-box {
    max-width: 100%;
  }

  .button {
    padding: 7px 70px;
    width: 100%;
    max-width: 100%;
  }
}

/* Small */
@media (max-width: 47.9em) {
  .appointment {
    padding-bottom: 40px;

    h1 {
      padding-top: 30px;
      padding-bottom: 20px;
      font-size: 2em;
    }
  }

  form, input {
    width: 100%;
    max-width: 100%;
  }

  .select-box {
    max-width: 100%;
  }

  button {
    width: 100%;
    max-width: 100%;
    margin-top: 0;
  }
}

/* Extra small */
@media (max-width: 33.9em) {
  .appointment {
    padding-bottom: 23px;

    h1 {
      padding-top: 20px;
      padding-bottom: 12px;
      font-size: 1.5em;
    }
  }

  form, input {
    width: 100%;
    max-width: 100%;
  }

  .select-box {
    max-width: 100%;
  }

  button {
    width: 100%;
    max-width: 100%;
    margin-top: 20px;
  }
}

/*========= Services ==========*/
@media (max-width: 74.9em) {}

/* Medium */
@media (max-width: 61.9em) {}

/* Small */
@media (max-width: 47.9em) {}

/* Extra small */
@media (max-width: 33.9em) {
  .services {
    padding: 50px 40px 0 28px;

    img {
      padding-bottom: 43px;
    }

    h2 {
      padding-bottom: 17px;
      font-size: 24px;
    }

    p {
      padding-bottom: 25px;
      font-size: 14px;
    }

    .btn-readmore {
      padding: 11px 30px 10px 30px;
      margin-bottom: 50px;
    }

    img {
      padding-bottom: 20px;
    }
  }
}

/*=========== Highlights ===========*/
/* Medium */
@media (max-width: 61.9em) {}

/* Small */
@media (max-width: 47.9em) {}

/* Extra small */
@media (max-width: 33.9em) {
  .highlight {
    padding-top: 30px;
    padding-bottom: 35px;

    h1 {
      padding-bottom: 30px;
      font-size: 33px;
      color: #372f2b;
    }

    p {
      padding-bottom: 20px;
    }
  }
}

/*======== Footer =========*/
@media (max-width: 61.9em) {
  .pre-footer {
    padding: 42px 0 42px 0;

    .second-div-links {
      padding-left: 55px;
    }

    .logo-div {
      padding-left: 45px;
    }
  }

  ul.footer-social-icon {
    display: inline-flex;
  }
}

/* Small */
@media (max-width: 47.9em) {
  .pre-footer {
    padding: 42px 0 42px 46px;

    .second-div-links {
      padding-left: 50px;
      padding-left: 13px;
      text-align: left;
    }

    .logo-div {
      padding-left: 0;

      p {
        font-size: 12px;
      }

      .footer-social-icon {
        margin-bottom: 0;
      }
    }
  }

  footer {
    bottom: 0;
    width: 100%;
    height: auto;
    text-align: center;
    background-color: #8498a8;

    p {
      padding-top: .7em !important;
      padding-bottom: 0;
      font-size: 11px;
      color: #acbfce;
      text-align: center;
      text-transform: uppercase;
    }
  }
}

/* Extra small */
@media (max-width: 33.9em) {
  .pre-footer {
    padding: 42px 0 42px 46px;

    .second-div-links {
      padding-left: 10px;
      text-align: left;
    }

    .logo-div {
      padding-left: 0;

      p {
        font-size: 12px;
      }

      .footer-social-icon {
        margin-bottom: 0;
      }
    }
  }

  footer {
    bottom: 0;
    width: 100%;
    height: auto;
    text-align: center;
    background-color: #8498a8;

    p {
      padding-top: 1em !important;
      padding-bottom: 0;
      font-size: 10px !important;
      color: #acbfce;
      text-align: center;
      text-transform: uppercase;
    }
  }
}