// 
// Services
// template-parts/services.php 
// 

section.services {
	padding: 20px 0 60px 0;

	.services-box {
		margin: 40px 0 0 0;
		padding: 0;
		text-align: center;

		img {
			display: block;
			margin: 0 auto;
			padding: 0 0 20px 0;
		}

		h2 {
			color: #1BAFEC;
			font-size: 24px;
			text-align: center;
			margin: 0;
			padding: 0 0 20px 0;

			span {
				font-weight: bold;
			}
		}

		p {
			text-align: center;
			padding: 0;
			margin: 0;
			color: #707b85;
		}

		.btn-readmore {
			@extend .btn-silesia;
			margin-top: 15px;
		}
	}
}
