/* Services */
.services {
	background: #fff;
	padding: 77px 40px 0 28px;
  text-align: center;
  
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    padding-bottom: 43px;
  }

  h2 {
    color: #1BAFEC;
    font-size: 24px;
    text-align: center;
    padding-bottom: 21px;
    margin-bottom: 0;
    margin-top: 0;

    span {
        font-weight: bold;
    }
  }

  p {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
    padding-bottom: 29px;
    margin-bottom: 0;
    margin-top: 0;
  }
  
  .btn-readmore {
    font-family: adam-pro;
    border-radius: 32px;
    color: #91a3b3;
    font-size: 12px;
    background: transparent;
    padding: 11px 30px 10px 30px;
    margin-bottom: 60px;
    border: solid #91a3b3 2px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s;
    max-width: 126px;
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);

    &:hover {
      @include btn-shadow;
    }

    span {
      cursor: pointer;
      display: inline-block;
      position: relative;
      transition: 0.5s;

      &:after {
        content: '»';
        position: absolute;
        opacity: 0;
        top: -15%;
        right: 0;
        transition: 0.5s;
      }
    }

    &:hover span {
      padding-right: 15px;
    }

    &:hover span:after {
      opacity: 1;
      right: 0;
    }
  }
}
/* /Services */