//
// Ninja Forms
// -----------------------------------------------------------------------------
//

// Variables
//
	$nf-error-text-color:	#894646;

// No JS message
	.ninja-forms-noscript-message {
		display: none;
	}

// Wrapper
//
	.nf-form-cont {

		// Form title
		//
		.nf-form-title {
			display: none;
		}

		// Response Message
		//
		.nf-response-msg {

		}

		// Debug Message
		//
		.nf-debug-msg {
			display: none;
		}

		// Content before form
		//
		.nf-before-form {
			display: none;
		}

		// Form Layout
		//
		.nf-form-layout {

			// Content before form content
			//
			.nf-before-form-content {

				// Required fields info
				//
				.nf-form-fields-required {
					display: none;
					font-size: 12px;
					margin: 0 0 20px;
				}
			}

			// Form Content
			// The main stuff
			//
			.nf-form-content  {

				// Inherit from below
				//
				@extend .form-content;

			}

			// Content after form content
			//
			.nf-after-form-content {

				// Form errors
				//
				.nf-form-errors {
					clear: both; 
					display: block;

					.nf-error-msg {
						color: $nf-error-text-color;
					}
				}

				// Form hp?
				//
				.nf-form-hp {
					display: none;
				}
			}
		}

		// Content after form
		// Again
		.nf-after-form {
			display: none;
		}
	}


// The Form Content formatting
// Used as a Sass Extend
//
.form-content {

	// Field container
	//
	.nf-field-container {
		margin-bottom: 15px;

		@include media("<md") {
			float: none !important;
			display: block !important;
			width: 100% !important;
			margin-left: 0 !important;
			margin-right: 0 !important;
		}

		// Before field
		//
		.nf-before-field {}

		// Field
		// Contains redundant .field-wrap with adjacent classnames like 
		// .submit-wrap, listselect-wrap, email-wrap, textbox-wrap
		//
		.nf-field {
		.field-wrap {

			// Field labels
			//
			.nf-field-label label {

			}

			// Field element
			// All field elements have .ninja-forms-field and .nf-element
			//
			.nf-field-element {
				position: relative;

				// Texty inputs and textarea
				//
				input[type="text"],
				input[type="email"],
				input[type="url"],
				input[type="email"],
				input[type="tel"],
				input[type="search"],
				input[type="number"],
				input[type="password"],
				input[type="range"],
				input[type="color"],
				input[type="date"],
				input[type="datetime"],
				input[type="datetime-local"],
				input[type="week"],
				input[type="month"],
				input[type="time"],
				textarea {
					border: 1px solid transparent;
					padding: 10px 15px;
					padding-left: 15px !important;
					padding-right: 15px !important;
					outline: none;
				}

				input[type="text"]:focus,
				input[type="email"]:focus,
				input[type="url"]:focus,
				input[type="email"]:focus,
				input[type="tel"]:focus,
				input[type="search"]:focus,
				input[type="number"]:focus,
				input[type="password"]:focus,
				input[type="range"]:focus,
				input[type="color"]:focus,
				input[type="date"]:focus,
				input[type="datetime"]:focus,
				input[type="datetime-local"]:focus,
				input[type="week"]:focus,
				input[type="month"]:focus,
				input[type="time"]:focus,
				textarea:focus {
					border: 1px solid transparent;
				}
				textarea {
					display: block;
					width: 100%;
					min-height: 300px !important;
				}

				// Non-texty
				//
					// input[type="button"],
					// input[type="submit"],
					// input[type="radio"],
					// input[type="checkbox"],
					// input[type="file"]

				select {
					-webkit-appearance: button;
					-webkit-border-radius: 0;
					-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
					// -webkit-padding-end: 20px;
					// -webkit-padding-start: 20px;
					-webkit-user-select: none;
					-moz-appearance:none;
					text-overflow: "";
					text-indent: 0;

					background-image: url("data:image/png;base64,R0lGODlhDwAUAIABAAAAAP///yH5BAEAAAEALAAAAAAPABQAAAIXjI+py+0Po5wH2HsXzmw//lHiSJZmUAAAOw==");
					background-position: 97% center;
					background-repeat: no-repeat;
					color: #555;
					// font-size: 15px;
					// line-height: 24px;
					// overflow: hidden;
					padding: 10px 15px !important;
					// text-overflow: ellipsis;
					white-space: nowrap;
					border: none;
					box-shadow: none;
				}

				input.datepicker {
					padding-right: 30px !important;
				}

				.pikaday__container:before {
					content: "\f073"; 
					font-family: FontAwesome;
					font-style: normal;
					font-weight: normal;
					text-decoration: inherit;
					position: absolute;
					font-size: 14px;
					color: #333;
					top: 29%;
					right: 15px;
				}

				input[type="button"] {
					@extend .btn-silesia;
					display: block;
					width: 100%;
				}

			} // end: .nf-field-element

		} // end: .field-wrap
		} // end: .nf-field

		// After field
		//
		.nf-after-field {

			// Input limit
			//
			.nf-input-limit {
				display: none;
			}

			// Error
			//
			.nf-error-wrap {

				// Error Message
				//
				.nf-error-msg {
					font-size: 14px;
					line-height: 1;
					padding: 5px 0 0 0;
				}

				// Required error 
				//
				.nf-error-required-error {
					color: $nf-error-text-color;
				}
			}
		} // end: .nf-after-field

	} // end: .nf-field-container
} // end: .form-content
