body {
  font-family: "acumin-pro",sans-serif;
  font-weight: normal;
  -webkit-font-feature-settings: "kern" 1;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  color: #373a3c;
  hyphens: auto;
  word-wrap: break-word;
  background-color: #FFF;
  background: url("assets/img/bg.png") repeat; }

.body-container {
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
  padding-left: 0;
  padding-right: 0;
  background: #FFF; }
  @media (max-width: 61.99em) {
    .body-container {
      max-width: 70rem; } }

::selection {
  background: #2C3A49;
  color: #fff;
  text-shadow: 0 0 transparent; }

::-moz-selection {
  background: #2C3A49;
  color: #fff;
  text-shadow: 0 0 transparent; }

/*
 * Universal colours for links, unless overriden
 *
 */
@font-face {
  font-family: 'Aileron-Regular';
  src: url("assets/vendor/font-aileron/fonts/aileron-regular-webfont.eot");
  src: url("assets/vendor/font-aileron/fonts/aileron-regular-webfont.eot?#iefix") format("embedded-opentype"), url("assets/vendor/font-aileron/fonts/aileron-regular-webfont.woff") format("woff"), url("assets/vendor/font-aileron/fonts/aileron-regular-webfont.ttf") format("truetype"), url("assets/vendor/font-aileron/fonts/aileron-regular-webfont.svg#aileronregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Adam.CG-Pro';
  src: url("assets/fonts/adam.cg.pro-webfont.eot");
  src: url("assets/fonts/adam.cg.pro-webfont.eot?#iefix") format("embedded-opentype"), url("assets/fonts/adam.cg.pro-webfont.woff") format("woff"), url("assets/fonts/adam.cg.pro-webfont.ttf") format("truetype"), url("assets/fonts/adam.cg.pro-webfont.svg#adam.cg_proregular") format("svg");
  font-weight: normal;
  font-style: normal; }

a:link,
a:visited {
  position: relative; }

a:focus,
a:hover,
a:active {
  text-decoration: underline;
  outline: none !important; }

@media print {
  a[href]:after {
    content: " (" attr(href) ") "; } }

p {
  font-size: inherit;
  line-height: inherit; }
  p:last-child {
    margin-bottom: 0 !important; }

/*
 * Headings
 *
 */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  text-rendering: optimizeLegibility;
  font-weight: 500;
  margin: 2rem 0 1rem; }

h1 {
  font-size: 2rem;
  padding-bottom: 10px; }

h2 {
  font-size: 1.75rem; }

h3 {
  font-size: 1.5rem; }

h4 {
  font-size: 1rem;
  text-transform: uppercase; }

h5 {
  font-size: 1rem; }

h6 {
  font-size: 1rem; }

ol li,
ul li {
  padding-bottom: 0.5rem; }
  ol li:last-child,
  ul li:last-child {
    padding-bottom: 0; }

/*
 * Accessories
 *
 */
hr {
  margin-bottom: 3rem !important; }

pre {
  background-color: #f7f7f9;
  border: 1px solid #ccc;
  color: #373a3c;
  display: block;
  font-size: 1rem;
  line-height: 1.42857;
  margin: 0 0 10px;
  padding: 1rem;
  word-break: break-all;
  word-wrap: break-word; }

blockquote,
blockquote.blockquote {
  border-left: 5px solid #eee;
  font-style: italic;
  font-size: 1rem;
  padding: 1em 2em; }

blockquote > blockquote {
  margin-left: 0; }

blockquote p {
  margin-bottom: 35px; }

/*
 * Hyphens
 * http://meyerweb.com/eric/thoughts/2012/12/17/where-to-avoid-css-hyphenation
 * Accepted values: [ none | manual | auto ]
 *
 */
input,
abbr,
acronym,
blockquote,
code,
kbd,
q,
samp,
var {
  hyphens: none; }

table.table tr th {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  -webkit-font-feature-settings: "kern" 1;
  text-rendering: optimizeLegibility; }

/*
 * Callout elements
 *
 */
.bd-callout {
  border-color: #eee;
  border-radius: 0.25rem;
  border-style: solid;
  border-width: 1px 1px 1px 0.25rem;
  margin: 1.5rem 0;
  padding: 1.5rem; }

.bd-callout-success {
  border-left-color: #449d44; }

.bd-callout-info {
  border-left-color: #5bc0de; }

.bd-callout-warning {
  border-left-color: #f0ad4e; }

.bd-callout-danger {
  border-left-color: #c9302c; }

/**
 * Body within the Editor
 */
body {
  margin: 20px;
  max-width: 912px;
  vertical-align: baseline;
  background: #fff; }

/**
 * Alignment
 */
.alignleft {
  float: left;
  margin: 7px 28px 28px 0; }

.alignright {
  float: right;
  margin: 7px 0 28px 28px; }

.aligncenter {
  clear: both;
  display: block;
  margin: 7px auto; }

/**
 * Caption
 */
.wp-caption {
  background: transparent;
  border: 0;
  color: #707070;
  font-family: "Noto Sans", sans-serif;
  margin: 0 0 28px;
  max-width: 100%;
  padding: 0;
  text-align: inherit; }

.wp-caption.alignleft {
  margin: 7px 28px 21px 0; }

.wp-caption.alignright {
  margin: 7px 0 21px 28px; }

.wp-caption.aligncenter {
  margin: 7px auto; }

.wp-caption .wp-caption-text,
.wp-caption-dd {
  font-size: 14px;
  line-height: 1.5;
  padding: 7px 0; }

/**
 * Galleries
 */
.gallery-item {
  display: inline-block;
  padding: 1.79104477%;
  text-align: center;
  vertical-align: top;
  width: 100%; }

.gallery-columns-2 .gallery-item {
  max-width: 50%; }

.gallery-columns-3 .gallery-item {
  max-width: 33.33%; }

.gallery-columns-4 .gallery-item {
  max-width: 25%; }

.gallery-columns-5 .gallery-item {
  max-width: 20%; }

.gallery-columns-6 .gallery-item {
  max-width: 16.66%; }

.gallery-columns-7 .gallery-item {
  max-width: 14.28%; }

.gallery-columns-8 .gallery-item {
  max-width: 12.5%; }

.gallery-columns-9 .gallery-item {
  max-width: 11.11%; }

.gallery .gallery-caption {
  color: #707070;
  display: block;
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  padding: 7px 0; }

.gallery-columns-6 .gallery-caption,
.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
  display: none; }

/**
 * Audio / Video
 */
.mce-content-body .wpview-wrap {
  margin-bottom: 32px; }

.mce-content-body .wp-audio-playlist {
  margin: 0; }

/**
 * RTL
 */
body.rtl {
  font-family: Arial, Tahoma, sans-serif; }

.rtl blockquote {
  border-left: 0;
  border-right: 4px solid #707070;
  margin: 0 -21px 35px;
  padding-left: 0;
  padding-right: 17px; }

.rtl blockquote > blockquote {
  margin-left: auto;
  margin-right: 0; }

.rtl li > ul,
.rtl li > ol {
  margin: 0 23px 0 0; }

.rtl table th,
.rtl table caption {
  text-align: right; }

/*# sourceMappingURL=editor-style.css.map */